*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and nav styles */
.header{
  background: #FFF8F3;
}

.nav-title{
    font-weight: 600;
    font-size: 38px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul {
    align-items: center;
    display: flex;
}
nav li{
    margin-left: 51px;
    list-style: none;
    cursor: pointer;
}
.banner{
    text-align: center;
   
}
.banner-description{
    text-align: center;
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
    padding: 32px 80px 30px 80px;
}
.banner-title{
    font-size: 35px;
    font-weight: 700;
   }
.btn-primary{
    
    margin-bottom: 50px;
    cursor: pointer;
    padding: 18px 35px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
}
.btn-primary:hover{
    background-color: #f1c50e;
    color: #111111;
}
.banner img{
    width :75% ;
    padding-bottom: 30px;
}

  /* Features Style */
  
  .features{
    margin: 150px 150px;
    display: flex;
    gap: 50px;
  }
  .features-container{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 15px;
    
  }
  .features-title1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    
  }
  .features-title2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 20px;
  }
  .features-description{
    color: #727272;
    padding-bottom: 32px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  .features-items{
    padding-top: 245px;
  }

  /* ....features love */

  .love-content{
    margin: 150px 120px;
    display: flex;
    gap: 70px;
}

  .btn-experiance{
    height: 200px;
    width: 342px;
  }
  .love-img{
    /* position: relative; */
  }
  .btn-experiance{
    font-weight: 600;
    font-size: 35px;
    border-radius: 8px;
    position: absolute;
    width: 284px;
    height: 148px;
    left: 688px;
    top: 2625px;
    color: white;
    background: orange;
    border: 1px solid orange;

  }
 
  .love-title{
    font-size: 35px;
    border-left: 5px solid orange;
    font-weight: 600;
  }
  
  .love-items{
    
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  }
  .love-ex{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  .title{
    padding-top: 20px;
  }
  .description{
    padding-top: 12px;
    color: #727272;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  /* ......... Some Fact  Styles...........*/

  .fact{
    margin-bottom: 100px;
    margin-left: 135px;
  }
  .fact-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #131313;

  }
